{% extends "base.html" %}

{% block content %}
<div class="form-container">
    <form method="POST" class="nice-form">
        {{ form.hidden_tag() }}
        <h1>Add Transaction</h1>

        <p>
            {{ form.date.label }}<br>
            {{ form.date() }}
        </p>

        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=50) }}
        </p>

        <p>
            {{ form.amount.label }}<br>
            {{ form.amount() }}
        </p>

        <p>
            {{ form.category_id.label }}<br>
            {{ form.category_id() }}
        </p>

        <p>
            {{ form.type.label }}<br>
            {{ form.type() }}
        </p>

        <p>{{ form.submit(class_="btn") }}</p>
    </form>

    <div class="center-nav">
        <a class="nav-link" href="{{ url_for('expense_tracker.dashboard') }}">Back to Expense Tracker</a>
    </div>
</div>
{% endblock %}
