<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ "Ti-Labs" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home_page.index') }}">Home</a>
        <a href="{{ url_for('tip_calculator.index') }}">Tip Calculator</a>
        <a href="{{ url_for('car_maintenance.index') }}">Car Maintenance</a>
        <a href="{{ url_for('expense_tracker.dashboard') }}">Expense Tracker</a>
        <a href="{{ url_for('expense_tracker.view_all') }}" class="nav-link">View All Transactions</a>
    </nav>

    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>