<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ "Ti-Labs" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        {% if request.endpoint != 'home_page.index' %}
            <a href="{{ url_for('home_page.index') }}" class="btn">Home</a>
        {% endif %}
        <a href="{{ url_for('tip_calculator.index') }}" class="btn">Tip Calculator</a>
        <a href="{{ url_for('car_maintenance.index') }}" class="btn">Car Maintenance</a>
        <a href="{{ url_for('expense_tracker.dashboard') }}" class="btn">Expense Tracker</a>
    </nav>

    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>